@model IEnumerable<AdminDashboard.Models.Xe>

@{
    ViewData["Title"] = "Danh sách Xe";
}

<h2>Danh sách Xe</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm Xe</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Xe Id</th>
            <th>Biển số</th>        
            <th>Loại Xe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.XeId</td>
                <td>@item.BienSoXe</td>
                <td>@item.LoaiXe?.TenLoaiXe</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.XeId" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.XeId" class="btn btn-sm btn-info">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.XeId" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
